
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
  --nav-width: 219px;
  /* --first-color: #6923D0; */
  /* --first-color: #6679e6; */
  --first-color: #66b3e6;
  --first-color-light: #f0f3fa;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;

  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}
.essze_main {
  margin-top: 20px;
  width: 90%;
  height: 90%;
}

.essze_parancs {
  display: flex;
  padding: .40rem .75rem;
  /* background-color: #F4F0FA; */
  background-color: #EBE7F0;
  border-radius: .25rem;
  height: 40px;
  width: 80%;
  margin-left: 15%;
}
.essze_ikon {
  font-size: 1.2rem;
  margin-top: 3px;
}



.essze_bevitel {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #EBE7F0;
  word-wrap: break-word;
  
}

.essze_bevitel::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}
.essze_ikon {
  cursor: pointer;
}
.essze_parameterek {
  display: block;
  padding: .40rem .75rem;
  background-color: #dfdae6;
  border-radius: .25rem;
  width: 87%;
  min-height:  150px;
  margin-left: 12%;
  font-size: 16px;
}
.essze_parameterek_text {
  margin-top: 0px;
}
.essze_parameter_flex {
  display: flex;
}
.szoveghossz {
  height: 30px;
  max-width: 290px;
  border-radius: 10px;
  margin-left: 5px;
}
.essze_parameterek_subtext {
  margin-top: 15px;
  margin-right: 15px;
}


@media screen and (max-width: 564px) {
  .essze_parameterek_subtext {
    margin-right: 0px;
  }
}
.start_gomb {
  text-align: center;
  margin-top: 15px;
}
.start_gomb2 {
  height: 40px;
  font-family: (--body-font);
  width: 73px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: #dfdae6;
  background-color: #e4dfeb;
}
* {
  font-family: (--body-font);
}
.start_gomb2:hover {
  background-color: #cec9d4;
  transition: ease 0.3s;
}
.start_gomb2 {
  background-color: #e4dfeb;
  transition: ease 1s;
  cursor: pointer;
  margin-bottom: 30px;
  
  margin-left: 10%;
}
.kesz_essze {
  display: block;
  padding: .40rem .75rem;
  background-color: #e9e4f0;
  border-radius: .25rem;
  width: 87%;
  min-height: 140px;
  margin-left: 12%;
  font-size: 17px;
  word-wrap: break-word;
}
.kesz_essze_szoveg {
  font-size: 17px;
}
.nelatszodjon {
  display: none;
}

.egyeb_text {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #EBE7F0;
  word-wrap: break-word;
  height: auto;
}

.egyeb_text::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}
.szoveghossz_textarea {
  min-height: 30px;
  width: 658px;
  border-radius: 10px;
  margin-left: 5px;
  min-height: 21px;
  margin-bottom: 21px;
  /* overflow: hidden; */
}
.start_essze {
  font-family: var(--body-font);
  font-size: 17px;
  
}

@media screen and (max-width: 756px ) {
  .essze_parameterek {
    width: 92%;
    margin-left: 9%;
  }
  .kesz_essze {
    width: 92%;
    margin-left: 9%;
  }
  .egyeb_text {
    min-height: 43px;
  }
}


.parameter_cim {
  display: block;
  padding: .40rem .75rem;
  background-color: transparent;
  border-radius: .25rem;
  width: 87%;
  margin-left: 12%;
  font-size: 20px;
}

.button {
  right: 1px;
  text-align: right;
  margin: 0 auto;
  border: none;
  background-color: #f9f6fd;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px 10px 2px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: ease 1s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.button:hover {
  background-color: #cec9d4;
  transition: ease 0.3s;
}
.rajta{
  text-align: right;
}
@media screen and (max-width: 756px ) {
  .parameter_cim {
    width: 92%;
    margin-left: 9%;
  }
}
footer {
  margin-top: auto;
}
.footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.keszitette {
  width: 105px;
  height: 2.8rem;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; 
}

.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}
.nav__dropdown:hover {
  max-height: 100rem;
}

.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

.show-menu {
  left: 0;
}

.active {
  color: var(--first-color);
}

@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  
  
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .keszitette {
    width: 200px;
    height: 26px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; 
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}

